<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.junki_t.sekigae"
    android:versionName="1.5"
    android:versionCode="1">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UsageActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".InformationActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".NinzuuActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".HaitiActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".ManWomanSetActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".CheckActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".ResultActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".SetNameActivity"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SekikoteiActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".SelectActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".SavePhotoActivity"
            android:screenOrientation="sensorLandscape" />
    </application>

</manifest>