<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>席替え.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>23C20A8D1C5C70E300ECE859</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>23C20AA11C5C70E400ECE859</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>23C20AAC1C5C70E400ECE859</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
